{% assign name_of_handles = "" %}
{% if product.tags contains "2.Color_Curry" and product.url contains "-curry" %}
    
      {% assign name_of _handles = name_of_handles | append: "-curry" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Sun Dried Tomato" and product.url contains "-tomato" %}
    
      {% assign name_of _handles = name_of_handles | append: "-tomato" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Titanium" and product.url contains "-titanium" %}
    
      {% assign name_of _handles = name_of_handles | append: "-titanium" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue Woven Print" and product.url contains "-dbwoven" %}
    
      {% assign name_of _handles = name_of_handles | append: "-dbwoven" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Asphalt" and product.url contains "-asphalt" %}
    
      {% assign name_of _handles = name_of_handles | append: "-asphalt" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Emberglow Coral" and product.url contains "-emberglow" %}
    
      {% assign name_of _handles = name_of_handles | append: "-emberglow" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Navy Peony" and product.url contains "-navy" %}
    
      {% assign name_of _handles = name_of_handles | append: "-navy" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Legion Blue" and product.url contains "-legion" %}
    
      {% assign name_of _handles = name_of_handles | append: "-legion" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Light Grey" and product.url contains "-lgrey" %}
    
      {% assign name_of _handles = name_of_handles | append: "-lgrey" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Grey" and product.url contains "-dgrey" %}
    
      {% assign name_of _handles = name_of_handles | append: "-dgrey" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Baroque Rose" and product.url contains "-baroquer" %}
    
      {% assign name_of _handles = name_of_handles | append: "-baroquer" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Bright Navy" and product.url contains "-brightn" %}
    
      {% assign name_of _handles = name_of_handles | append: "-brightn" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Timber Wolf Beige" and product.url contains "-timberwb" %}
    
      {% assign name_of _handles = name_of_handles | append: "-timberwb" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Oasis Print" and product.url contains "-oasisp" %}
    
      {% assign name_of _handles = name_of_handles | append: "-oasisp" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Anemone" and product.url contains "-anemone" %}
    
      {% assign name_of _handles = name_of_handles | append: "-anemone" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Garnet Rose" and product.url contains "-garnetr" %}
    
      {% assign name_of _handles = name_of_handles | append: "-garnetr" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Capers" and product.url contains "-capers" %}
    
      {% assign name_of _handles = name_of_handles | append: "-capers" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Brittaney Blue" and product.url contains "-brittaneyb" %}
    
      {% assign name_of _handles = name_of_handles | append: "-brittaneyb" | append: "|" %}
     {% endif %}
      {% if product.tags contains "2.Color_Aqua Print" and product.url contains "-aquap" %}
    
      {% assign name_of _handles = name_of_handles | append: "-aquap" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Lizard" and product.url contains "-lizard" %}
    
      {% assign name_of _handles = name_of_handles | append: "-lizard" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Sunburn" and product.url contains "-sburn" %}
    
      {% assign name_of _handles = name_of_handles | append: "-sburn" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Blue Mirage" and product.url contains "-bmirage" %}
    
      {% assign name_of _handles = name_of_handles | append: "-bmirage" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue" and product.url contains "-dblue" %}
    
      {% assign name_of _handles = name_of_handles | append: "-dblue" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Mahogany Red" and product.url contains "-mred" %}
    
      {% assign name_of _handles = name_of_handles | append: "-mred" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Iron" and product.url contains "-diron" %}
    
      {% assign name_of _handles = name_of_handles | append: "-diron" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Beech Khaki" and product.url contains "-bkhaki" %}
    
      {% assign name_of _handles = name_of_handles | append: "-bkhaki" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Rubber Camel" and product.url contains "-rcamel" %}
    
      {% assign name_of _handles = name_of_handles | append: "-rcamel" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Beet Red" and product.url contains "-beetr" %}
    
      {% assign name_of _handles = name_of_handles | append: "-beetr" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Blue Opal" and product.url contains "-bopal" %}
    
      {% assign name_of _handles = name_of_handles | append: "-bopal" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Volcanic Glass Grey" and product.url contains "-volcanicg" %}
    
      {% assign name_of _handles = name_of_handles | append: "-volcanicg" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Blush" and product.url contains "-blush" %}
    
      {% assign name_of _handles = name_of_handles | append: "-blush" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Champagne" and product.url contains "-dchampagne" %}
    
      {% assign name_of _handles = name_of_handles | append: "-dchampagne" | append: "|" %}
     {% endif %}
  {% if product.tags contains "2.Color_Black" and product.url contains "-black" %}
    
      {% assign name_of _handles = name_of_handles | append: "-black" | append: "|" %}
     {% endif %}
   {% if product.tags contains "2.Color_Grey" and product.url contains "-grey" %}
    
      {% assign name_of _handles = name_of_handles | append: "-grey" | append: "|" %}
     {% endif %}
      {% if product.tags contains "2.Color_Beige" and product.url contains "-beige" %}
    
      {% assign name_of _handles = name_of_handles | append: "-beige" | append: "|" %}
     {% endif %}
  {% if product.tags contains "2.Color_Blue" and product.url contains "-blue" %}
    
      {% assign name_of _handles = name_of_handles | append: "-blue" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Brown" and product.url contains "-brown" %}
    
      {% assign name_of _handles = name_of_handles | append: "-brown" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Green" and product.url contains "-green" %}
    
      {% assign name_of _handles = name_of_handles | append: "-green" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Olive" and product.url contains "-olive" %}
    
      {% assign name_of _handles = name_of_handles | append: "-olive" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Orange" and product.url contains "-orange" %}
    
      </span>{% elsif product.tags contains "2.Color_Orange" %}
     {% endif %}
{% if product.tags contains "2.Color_Pink" and product.url contains "-pink" %}
    
      {% assign name_of _handles = name_of_handles | append: "-pink" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Purple" and product.url contains "-purple" %}
    
      {% assign name_of _handles = name_of_handles | append: "-purple" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Red" and product.url contains "-red" %}
    
      {% assign name_of _handles = name_of_handles | append: "-red" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Silver" and product.url contains "-silver" %}
    
      {% assign name_of _handles = name_of_handles | append: "-silver" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Turquoise" and product.url contains "-turquoise" %}
    
      {% assign name_of _handles = name_of_handles | append: "-turquoise" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Yellow" and product.url contains "-yellow" %}
    
      {% assign name_of _handles = name_of_handles | append: "-yellow" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Marmalade" and product.url contains "-marmalade" %}
    
      {% assign name_of _handles = name_of_handles | append: "-marmalade" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Gradient Print" and product.url contains "-gradient" %}
    
      {% assign name_of _handles = name_of_handles | append: "-gradient" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Tartan Print" and product.url contains "-tartan" %}
    
      {% assign name_of _handles = name_of_handles | append: "-tartan" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Active Blue" and product.url contains "-activeb" %}
    
      {% assign name_of _handles = name_of_handles | append: "-activeb" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Bronze" and product.url contains "-bronze" %}
    
      {% assign name_of _handles = name_of_handles | append: "-bronze" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Flint Blue" and product.url contains "-flintb" %}
    
      {% assign name_of _handles = name_of_handles | append: "-flintb" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Mahogany Brown" and product.url contains "-mbrown" %}
    
      {% assign name_of _handles = name_of_handles | append: "-mbrown" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Rust Paisley Print" and product.url contains "-rustp" %}
    
      {% assign name_of _handles = name_of_handles | append: "-rustp" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Mood Indigo" and product.url contains "-moodi" %}
    
      {% assign name_of _handles = name_of_handles | append: "-moodi" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Urban Camo" and product.url contains "-urbanc" %}
    
      {% assign name_of _handles = name_of_handles | append: "-urbanc" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Silver Lineo" and product.url contains "-silver-lin" %}
    
      {% assign name_of _handles = name_of_handles | append: "-silver-lin" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Earth Green" and product.url contains "-egreen" %}
    
      {% assign name_of _handles = name_of_handles | append: "-egreen" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Galaxy Grey" and product.url contains "-ggrey" %}
    
      {% assign name_of _handles = name_of_handles | append: "-ggrey" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Halo Blue" and product.url contains "-hblue" %}
    
      {% assign name_of _handles = name_of_handles | append: "-hblue" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Craft Blue Print" and product.url contains "-cbprint" %}
    
      {% assign name_of _handles = name_of_handles | append: "-cbprint" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Sailor Print" and product.url contains "-sailorp" %}
    
      {% assign name_of _handles = name_of_handles | append: "-sailorp" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Active Grey" and product.url contains "-activeg" %}
    
      {% assign name_of _handles = name_of_handles | append: "-activeg" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Rosewood" and product.url contains "-rosewood" %}
    
      {% assign name_of _handles = name_of_handles | append: "-rosewood" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Misty Lavender" and product.url contains "-mlavender" %}
    
      {% assign name_of _handles = name_of_handles | append: "-mlavender" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Vineyard Wine" and product.url contains "-vineyard" %}
    
      {% assign name_of _handles = name_of_handles | append: "-vineyard" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Olive Night" and product.url contains "-onight" %}
    
      {% assign name_of _handles = name_of_handles | append: "-onight" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Winter Craft Print" and product.url contains "-wcraftprint" %}
    
      {% assign name_of _handles = name_of_handles | append: "-wcraftprint" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Active Ebony" and product.url contains "-aebony" %}
    
      {% assign name_of _handles = name_of_handles | append: "-aebony" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Fig" and product.url contains "-fig" %}
    
      {% assign name_of _handles = name_of_handles | append: "-fig" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Tandoori Red" and product.url contains "-tandoorir" %}
    
      {% assign name_of _handles = name_of_handles | append: "-tandoorir" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Iron Gate" and product.url contains "-igate" %}
    
      {% assign name_of _handles = name_of_handles | append: "-igate" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Stylish Grey" and product.url contains "-stylishg" %}
    
      {% assign name_of _handles = name_of_handles | append: "-stylishg" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Powder Pink" and product.url contains "-ppink" %}
    
      {% assign name_of _handles = name_of_handles | append: "-ppink" | append: "|" %}
     {% endif %}

     {% if product.tags contains "2.Color_Apricot Brandy / Off White" and product.url contains "-apricot-brandy-off" %}

  {% assign name_of _handles = name_of_handles | append: "-apricot-brandy-off" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Astro Print" and product.url contains "-astro-print" %}

  {% assign name_of _handles = name_of_handles | append: "-astro-print" | append: "|" %}
 {% endif %}   
 {% if product.tags contains "2.Color_Blue/Logica" and product.url contains "-blogica" %}

  {% assign name_of _handles = name_of_handles | append: "-blogica" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue/Ripple Print" and product.url contains "-b-ripple-print" %}

  {% assign name_of _handles = name_of_handles | append: "-b-ripple-print" | append: "|" %}
 {% endif %}    
{% if product.tags contains "2.Color_Camo Print" and product.url contains "-camop" %}

  {% assign name_of _handles = name_of_handles | append: "-camop" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Citadel Blue" and product.url contains "-citadel" %}

  {% assign name_of _handles = name_of_handles | append: "-citadel" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Corsair" and product.url contains "-corsair" %}

  {% assign name_of _handles = name_of_handles | append: "-corsair" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Cube Print" and product.url contains "-cubep" %}

  {% assign name_of _handles = name_of_handles | append: "-cubep" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dolphin Blue" and product.url contains "-dolphin" %}

  {% assign name_of _handles = name_of_handles | append: "-dolphin" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ermine / Off White" and product.url contains "-ermine-off" %}

  {% assign name_of _handles = name_of_handles | append: "-ermine-off" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Graphic Attack" and product.url contains "-graphic-attack" %}

  {% assign name_of _handles = name_of_handles | append: "-graphic-attack" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Malibu Blue" and product.url contains "-malibu" %}

  {% assign name_of _handles = name_of_handles | append: "-malibu" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ocean Print" and product.url contains "-ocean-print" %}

  {% assign name_of _handles = name_of_handles | append: "-ocean-print" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Purple/Logica" and product.url contains "-p-logica" %}

  {% assign name_of _handles = name_of_handles | append: "-p-logica" | append: "|" %}
 {% endif %}  
{% if product.tags contains "2.Color_Rhubarb / Off White" and product.url contains "rhubarb-off" %}

  {% assign name_of _handles = name_of_handles | append: "-rhubarb-off" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Rose/Ripple Print" and product.url contains "rose-ripple-print" %}

  {% assign name_of _handles = name_of_handles | append: "-rose-ripple-print" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Stormy Sea" and product.url contains "stormy-sea" %}

  {% assign name_of _handles = name_of_handles | append: "-stormy-sea" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Wine" and product.url contains "wine" %}

  {% assign name_of _handles = name_of_handles | append: "-wine" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Woven Print" and product.url contains "-woven-print" %}

  {% assign name_of _handles = name_of_handles | append: "-woven-print" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Grey / Blue" and product.url contains "gr-bl" %}

  {% assign name_of _handles = name_of_handles | append: "-gr-bl" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black / Green" and product.url contains "bl-gr" %}

  {% assign name_of _handles = name_of_handles | append: "-bl-gr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black / Grey" and product.url contains "blgry" %}

  {% assign name_of _handles = name_of_handles | append: "-blgry" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Grape" and product.url contains "grape" %}

  {% assign name_of _handles = name_of_handles | append: "-grape" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Zinc" and product.url contains "zinc" %}

  {% assign name_of _handles = name_of_handles | append: "-zinc" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Special Black" and product.url contains "spec-b" %}

  {% assign name_of _handles = name_of_handles | append: "-spec-b" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Baked Apple" and product.url contains "baked-apple" %}

  {% assign name_of _handles = name_of_handles | append: "-baked-apple" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Khaki" and product.url contains "khaki" %}

  {% assign name_of _handles = name_of_handles | append: "-khaki" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue Sapphire" and product.url contains "sapphire" %}

  {% assign name_of _handles = name_of_handles | append: "-sapphire" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Sepia/Brown" and product.url contains "sepia" %}

  {% assign name_of _handles = name_of_handles | append: "-sepia" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dress Blue" and product.url contains "dressb" %}

  {% assign name_of _handles = name_of_handles | append: "-dressb" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Magnet" and product.url contains "magnet" %}

  {% assign name_of _handles = name_of_handles | append: "-magnet" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Falcon Grey" and product.url contains "falcon" %}

  {% assign name_of _handles = name_of_handles | append: "-falcon" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Parisian Night Blue" and product.url contains "parisian-night" %}

  {% assign name_of _handles = name_of_handles | append: "-parisian-night" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Tango Red" and product.url contains "-tango" %}

  {% assign name_of _handles = name_of_handles | append: "-tango" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dark Denim" and product.url contains "-denim" %}

  {% assign name_of _handles = name_of_handles | append: "-denim" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Phantom" and product.url contains "-phantom" %}

  {% assign name_of _handles = name_of_handles | append: "-phantom" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Chili Pepper" and product.url contains "-chili-pepper" %}

  {% assign name_of _handles = name_of_handles | append: "-chili-pepper" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Tornado Grey" and product.url contains "-tornado" %}

  {% assign name_of _handles = name_of_handles | append: "-tornado" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Purple Passion" and product.url contains "-passion" %}

  {% assign name_of _handles = name_of_handles | append: "-passion" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Black/Red" and product.url contains "-bred" %}

  {% assign name_of _handles = name_of_handles | append: "-bred" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Silver/Red" and product.url contains "-sred" %}

  {% assign name_of _handles = name_of_handles | append: "-sred" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Red/Silver" and product.url contains "-rsilver" %}

  {% assign name_of _handles = name_of_handles | append: "-rsilver" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Golden Olive" and product.url contains "-golive" %}

  {% assign name_of _handles = name_of_handles | append: "-golive" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Rooibos Tea" and product.url contains "-rooibos" %}

  {% assign name_of _handles = name_of_handles | append: "-rooibos" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Nautical Blue" and product.url contains "-nautical" %}

  {% assign name_of _handles = name_of_handles | append: "-nautical" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Anthracite" and product.url contains "-anthracite" %}

  {% assign name_of _handles = name_of_handles | append: "-anthracite" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ecru Olive" and product.url contains "-eolive" %}

  {% assign name_of _handles = name_of_handles | append: "-eolive" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Chinois Green" and product.url contains "-chinois" %}

  {% assign name_of _handles = name_of_handles | append: "-chinois" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Almond" and product.url contains "-almond" %}

  {% assign name_of _handles = name_of_handles | append: "-almond" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Mauvewood" and product.url contains "-mauvewood" %}

  {% assign name_of _handles = name_of_handles | append: "-mauvewood" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Sunset Gold" and product.url contains "-sunset" %}

  {% assign name_of _handles = name_of_handles | append: "-sunset" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Castle Rock" and product.url contains "-castle" %}

  {% assign name_of _handles = name_of_handles | append: "-castle" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Deep Lavander" and product.url contains "-lavander" %}

  {% assign name_of _handles = name_of_handles | append: "-lavander" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue Bird" and product.url contains "-bird" %}

  {% assign name_of _handles = name_of_handles | append: "-bird" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pavement" and product.url contains "-pavement" %}

  {% assign name_of _handles = name_of_handles | append: "-pavement" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pomegranate" and product.url contains "-pomegranate" %}

  {% assign name_of _handles = name_of_handles | append: "-pomegranate" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pink Jungle" and product.url contains "-jungle" %}

  {% assign name_of _handles = name_of_handles | append: "-jungle" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Charcoal Grey" and product.url contains "-charcoal" %}

  {% assign name_of _handles = name_of_handles | append: "-charcoal" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Scarab Green" and product.url contains "-scarabg" %}

  {% assign name_of _handles = name_of_handles | append: "-scarabg" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Mars Red" and product.url contains "-marsr" %}

  {% assign name_of _handles = name_of_handles | append: "-marsr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Lunar Rock" and product.url contains "-lunarr" %}

  {% assign name_of _handles = name_of_handles | append: "-lunarr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Spiced Coral" and product.url contains "-spicedc" %}

  {% assign name_of _handles = name_of_handles | append: "-spicedc" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Cashmere Beige" and product.url contains "-cashmb" %}

  {% assign name_of _handles = name_of_handles | append: "-cashmb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Linden Essence" and product.url contains "-lindene" %}

  {% assign name_of _handles = name_of_handles | append: "-lindene" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Moss Print" and product.url contains "-mossp" %}

  {% assign name_of _handles = name_of_handles | append: "-mossp" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Print" and product.url contains "-bamboop" %}

  {% assign name_of _handles = name_of_handles | append: "-bamboop" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Elegant Blue" and product.url contains "-elegantb" %}

  {% assign name_of _handles = name_of_handles | append: "-elegantb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black Storm" and product.url contains "-bblackstr" %}

  {% assign name_of _handles = name_of_handles | append: "-bblackstr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Mustard Olive" and product.url contains "-mustardo" %}

  {% assign name_of _handles = name_of_handles | append: "-mustardo" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Denim Blue" and product.url contains "-ddenimb" %}

  {% assign name_of _handles = name_of_handles | append: "-ddenimb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Salsa Red" and product.url contains "-salsar" %}

  {% assign name_of _handles = name_of_handles | append: "-salsar" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Mix" and product.url contains "-bamboom" %}

  {% assign name_of _handles = name_of_handles | append: "-bamboom" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Classic Mix" and product.url contains "-classicm" %}

  {% assign name_of _handles = name_of_handles | append: "-classicm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Coktail Mix" and product.url contains "-coktailm" %}

  {% assign name_of _handles = name_of_handles | append: "-coktailm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Winter Floral Print" and product.url contains "-floralpr" %}

  {% assign name_of _handles = name_of_handles | append: "-floralpr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Silvery" and product.url contains "-slvr" %}

  {% assign name_of _handles = name_of_handles | append: "-slvr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Copper" and product.url contains "-copper" %}

  {% assign name_of _handles = name_of_handles | append: "-copper" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Comet Beige" and product.url contains "-cometb" %}

  {% assign name_of _handles = name_of_handles | append: "-cometb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Lava Red" and product.url contains "-lavar" %}

  {% assign name_of _handles = name_of_handles | append: "-lavar" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Malachite Green" and product.url contains "-malachiteg" %}

  {% assign name_of _handles = name_of_handles | append: "-malachiteg" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Neptune Blue" and product.url contains "-neptuneb" %}

  {% assign name_of _handles = name_of_handles | append: "-neptuneb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Saffron" and product.url contains "-saffron" %}

  {% assign name_of _handles = name_of_handles | append: "-saffron" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Sienna" and product.url contains "-sienna" %}

  {% assign name_of _handles = name_of_handles | append: "-sienna" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Aubergina Print" and product.url contains "-auberginap" %}

  {% assign name_of _handles = name_of_handles | append: "-auberginap" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Essence Birch" and product.url contains "-ebirch" %}

  {% assign name_of _handles = name_of_handles | append: "-ebirch" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Essentials Mix" and product.url contains "-essmix" %}

  {% assign name_of _handles = name_of_handles | append: "-essmix" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Toscan Sunset Mix" and product.url contains "-toscansun" %}

  {% assign name_of _handles = name_of_handles | append: "-toscansun" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix" and product.url contains "-cosmicm" %}

  {% assign name_of _handles = name_of_handles | append: "-cosmicm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Urban Jungle" and product.url contains "-urbanj" %}

  {% assign name_of _handles = name_of_handles | append: "-urbanj" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Smokey Mauve" and product.url contains "-smokeym" %}

  {% assign name_of _handles = name_of_handles | append: "-smokeym" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Biking Red" and product.url contains "-bikingr" %}

  {% assign name_of _handles = name_of_handles | append: "-bikingr" | append: "|" %}
 {% endif %}
<script>
  console.log("{{name_of _handles}}");
</script>