{% assign name_of_handles = "" %}
{% if product.tags contains "2.Color_Curry" %}
    
      {% assign name_of_handles = name_of_handles | append: "-curry" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Sun Dried Tomato" %}
    
      {% assign name_of_handles = name_of_handles | append: "-tomato" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Titanium" %}
    
      {% assign name_of_handles = name_of_handles | append: "-titanium" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue Woven Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-dbwoven" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Asphalt" %}
    
      {% assign name_of_handles = name_of_handles | append: "-asphalt" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Emberglow Coral" %}
    
      {% assign name_of_handles = name_of_handles | append: "-emberglow" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Navy Peony" %}
    
      {% assign name_of_handles = name_of_handles | append: "-navy" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Legion Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-legion" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Light Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-lgrey" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-dgrey" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Baroque Rose" %}
    
      {% assign name_of_handles = name_of_handles | append: "-baroquer" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Bright Navy" %}
    
      {% assign name_of_handles = name_of_handles | append: "-brightn" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Timber Wolf Beige" %}
    
      {% assign name_of_handles = name_of_handles | append: "-timberwb" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Oasis Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-oasisp" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Anemone" %}
    
      {% assign name_of_handles = name_of_handles | append: "-anemone" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Garnet Rose" %}
    
      {% assign name_of_handles = name_of_handles | append: "-garnetr" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Capers" %}
    
      {% assign name_of_handles = name_of_handles | append: "-capers" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Brittaney Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-brittaneyb" | append: "|" %}
     {% endif %}
      {% if product.tags contains "2.Color_Aqua Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-aquap" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Lizard" %}
    
      {% assign name_of_handles = name_of_handles | append: "-lizard" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Sunburn" %}
    
      {% assign name_of_handles = name_of_handles | append: "-sburn" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Blue Mirage" %}
    
      {% assign name_of_handles = name_of_handles | append: "-bmirage" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-dblue" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Mahogany Red" %}
    
      {% assign name_of_handles = name_of_handles | append: "-mred" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Iron" %}
    
      {% assign name_of_handles = name_of_handles | append: "-diron" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Beech Khaki" %}
    
      {% assign name_of_handles = name_of_handles | append: "-bkhaki" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Rubber Camel" %}
    
      {% assign name_of_handles = name_of_handles | append: "-rcamel" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Beet Red" %}
    
      {% assign name_of_handles = name_of_handles | append: "-beetr" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Blue Opal" %}
    
      {% assign name_of_handles = name_of_handles | append: "-bopal" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Volcanic Glass Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-volcanicg" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Blush" %}
    
      {% assign name_of_handles = name_of_handles | append: "-blush" | append: "|" %}
     {% endif %}
     {% if product.tags contains "2.Color_Dark Champagne" %}
    
      {% assign name_of_handles = name_of_handles | append: "-dchampagne" | append: "|" %}
     {% endif %}
  {% if product.tags contains "2.Color_Black" %}
    
      {% assign name_of_handles = name_of_handles | append: "-black" | append: "|" %}
     {% endif %}
   {% if product.tags contains "2.Color_Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-grey" | append: "|" %}
     {% endif %}
      {% if product.tags contains "2.Color_Beige" %}
    
      {% assign name_of_handles = name_of_handles | append: "-beige" | append: "|" %}
     {% endif %}
  {% if product.tags contains "2.Color_Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-blue" | append: "|" %}
     {% endif %}
    {% if product.tags contains "2.Color_Brown" %}
    
      {% assign name_of_handles = name_of_handles | append: "-brown" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Green" %}
    
      {% assign name_of_handles = name_of_handles | append: "-green" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Olive" %}
    
      {% assign name_of_handles = name_of_handles | append: "-olive" | append: "|" %}
     {% endif %}
 {% if product.tags contains "2.Color_Orange" %}
    
      </span>{% elsif product.tags contains "2.Color_Orange" %}
     {% endif %}
{% if product.tags contains "2.Color_Pink" %}
    
      {% assign name_of_handles = name_of_handles | append: "-pink" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Purple" %}
    
      {% assign name_of_handles = name_of_handles | append: "-purple" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Red" %}
    
      {% assign name_of_handles = name_of_handles | append: "-red" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Silver" %}
    
      {% assign name_of_handles = name_of_handles | append: "-silver" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Turquoise" %}
    
      {% assign name_of_handles = name_of_handles | append: "-turquoise" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Yellow" %}
    
      {% assign name_of_handles = name_of_handles | append: "-yellow" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Marmalade" %}
    
      {% assign name_of_handles = name_of_handles | append: "-marmalade" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Gradient Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-gradient" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Tartan Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-tartan" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Active Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-activeb" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Bronze" %}
    
      {% assign name_of_handles = name_of_handles | append: "-bronze" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Flint Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-flintb" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Mahogany Brown" %}
    
      {% assign name_of_handles = name_of_handles | append: "-mbrown" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Rust Paisley Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-rustp" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Mood Indigo" %}
    
      {% assign name_of_handles = name_of_handles | append: "-moodi" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Urban Camo" %}
    
      {% assign name_of_handles = name_of_handles | append: "-urbanc" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Silver Lineo" %}
    
      {% assign name_of_handles = name_of_handles | append: "-silver-lin" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Earth Green" %}
    
      {% assign name_of_handles = name_of_handles | append: "-egreen" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Galaxy Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-ggrey" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Halo Blue" %}
    
      {% assign name_of_handles = name_of_handles | append: "-hblue" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Craft Blue Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-cbprint" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Sailor Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-sailorp" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Active Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-activeg" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Rosewood" %}
    
      {% assign name_of_handles = name_of_handles | append: "-rosewood" | append: "|" %}
     {% endif %}
{% if product.tags contains "2.Color_Misty Lavender" %}
    
      {% assign name_of_handles = name_of_handles | append: "-mlavender" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Vineyard Wine" %}
    
      {% assign name_of_handles = name_of_handles | append: "-vineyard" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Olive Night" %}
    
      {% assign name_of_handles = name_of_handles | append: "-onight" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Winter Craft Print" %}
    
      {% assign name_of_handles = name_of_handles | append: "-wcraftprint" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Active Ebony" %}
    
      {% assign name_of_handles = name_of_handles | append: "-aebony" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Fig" %}
    
      {% assign name_of_handles = name_of_handles | append: "-fig" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Tandoori Red" %}
    
      {% assign name_of_handles = name_of_handles | append: "-tandoorir" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Iron Gate" %}
    
      {% assign name_of_handles = name_of_handles | append: "-igate" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Stylish Grey" %}
    
      {% assign name_of_handles = name_of_handles | append: "-stylishg" | append: "|" %}
     {% endif %}

{% if product.tags contains "2.Color_Powder Pink" %}
    
      {% assign name_of_handles = name_of_handles | append: "-ppink" | append: "|" %}
     {% endif %}

     {% if product.tags contains "2.Color_Apricot Brandy / Off White" %}

  {% assign name_of_handles = name_of_handles | append: "-apricot-brandy-off" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Astro Print" %}

  {% assign name_of_handles = name_of_handles | append: "-astro-print" | append: "|" %}
 {% endif %}   
 {% if product.tags contains "2.Color_Blue/Logica" %}

  {% assign name_of_handles = name_of_handles | append: "-blogica" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue/Ripple Print" %}

  {% assign name_of_handles = name_of_handles | append: "-b-ripple-print" | append: "|" %}
 {% endif %}    
{% if product.tags contains "2.Color_Camo Print" %}

  {% assign name_of_handles = name_of_handles | append: "-camop" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Citadel Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-citadel" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Corsair" %}

  {% assign name_of_handles = name_of_handles | append: "-corsair" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Cube Print" %}

  {% assign name_of_handles = name_of_handles | append: "-cubep" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dolphin Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-dolphin" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ermine / Off White" %}

  {% assign name_of_handles = name_of_handles | append: "-ermine-off" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Graphic Attack" %}

  {% assign name_of_handles = name_of_handles | append: "-graphic-attack" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Malibu Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-malibu" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ocean Print" %}

  {% assign name_of_handles = name_of_handles | append: "-ocean-print" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Purple/Logica" %}

  {% assign name_of_handles = name_of_handles | append: "-p-logica" | append: "|" %}
 {% endif %}  
{% if product.tags contains "2.Color_Rhubarb / Off White" %}

  {% assign name_of_handles = name_of_handles | append: "-rhubarb-off" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Rose/Ripple Print" %}

  {% assign name_of_handles = name_of_handles | append: "-rose-ripple-print" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Stormy Sea" %}

  {% assign name_of_handles = name_of_handles | append: "-stormy-sea" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Wine" %}

  {% assign name_of_handles = name_of_handles | append: "-wine" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Woven Print" %}

  {% assign name_of_handles = name_of_handles | append: "-woven-print" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Grey / Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-gr-bl" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black / Green" %}

  {% assign name_of_handles = name_of_handles | append: "-bl-gr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black / Grey" %}

  {% assign name_of_handles = name_of_handles | append: "-blgry" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Grape" %}

  {% assign name_of_handles = name_of_handles | append: "-grape" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Zinc" %}

  {% assign name_of_handles = name_of_handles | append: "-zinc" | append: "|" %}
 {% endif %}
 {% if product.tags contains "2.Color_Special Black" %}

  {% assign name_of_handles = name_of_handles | append: "-spec-b" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Baked Apple" %}

  {% assign name_of_handles = name_of_handles | append: "-baked-apple" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Khaki" %}

  {% assign name_of_handles = name_of_handles | append: "-khaki" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue Sapphire" %}

  {% assign name_of_handles = name_of_handles | append: "-sapphire" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Sepia/Brown" %}

  {% assign name_of_handles = name_of_handles | append: "-sepia" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dress Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-dressb" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Magnet" %}

  {% assign name_of_handles = name_of_handles | append: "-magnet" | append: "|" %}
 {% endif %}   
{% if product.tags contains "2.Color_Falcon Grey" %}

  {% assign name_of_handles = name_of_handles | append: "-falcon" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Parisian Night Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-parisian-night" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Tango Red" %}

  {% assign name_of_handles = name_of_handles | append: "-tango" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Dark Denim" %}

  {% assign name_of_handles = name_of_handles | append: "-denim" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Phantom" %}

  {% assign name_of_handles = name_of_handles | append: "-phantom" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Chili Pepper" %}

  {% assign name_of_handles = name_of_handles | append: "-chili-pepper" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Tornado Grey" %}

  {% assign name_of_handles = name_of_handles | append: "-tornado" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Purple Passion" %}

  {% assign name_of_handles = name_of_handles | append: "-passion" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Black/Red" %}

  {% assign name_of_handles = name_of_handles | append: "-bred" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Silver/Red" %}

  {% assign name_of_handles = name_of_handles | append: "-sred" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Red/Silver" %}

  {% assign name_of_handles = name_of_handles | append: "-rsilver" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Golden Olive" %}

  {% assign name_of_handles = name_of_handles | append: "-golive" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Rooibos Tea" %}

  {% assign name_of_handles = name_of_handles | append: "-rooibos" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Nautical Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-nautical" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Anthracite" %}

  {% assign name_of_handles = name_of_handles | append: "-anthracite" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Ecru Olive" %}

  {% assign name_of_handles = name_of_handles | append: "-eolive" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Chinois Green" %}

  {% assign name_of_handles = name_of_handles | append: "-chinois" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Almond" %}

  {% assign name_of_handles = name_of_handles | append: "-almond" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Mauvewood" %}

  {% assign name_of_handles = name_of_handles | append: "-mauvewood" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Sunset Gold" %}

  {% assign name_of_handles = name_of_handles | append: "-sunset" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Castle Rock" %}

  {% assign name_of_handles = name_of_handles | append: "-castle" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Deep Lavander" %}

  {% assign name_of_handles = name_of_handles | append: "-lavander" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Blue Bird" %}

  {% assign name_of_handles = name_of_handles | append: "-bird" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pavement" %}

  {% assign name_of_handles = name_of_handles | append: "-pavement" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pomegranate" %}

  {% assign name_of_handles = name_of_handles | append: "-pomegranate" | append: "|" %}
 {% endif %}
{% if product.tags contains "2.Color_Pink Jungle" %}

  {% assign name_of_handles = name_of_handles | append: "-jungle" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Charcoal Grey" %}

  {% assign name_of_handles = name_of_handles | append: "-charcoal" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Scarab Green" %}

  {% assign name_of_handles = name_of_handles | append: "-scarabg" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Mars Red" %}

  {% assign name_of_handles = name_of_handles | append: "-marsr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Lunar Rock" %}

  {% assign name_of_handles = name_of_handles | append: "-lunarr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Spiced Coral" %}

  {% assign name_of_handles = name_of_handles | append: "-spicedc" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Cashmere Beige" %}

  {% assign name_of_handles = name_of_handles | append: "-cashmb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Linden Essence" %}

  {% assign name_of_handles = name_of_handles | append: "-lindene" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Moss Print" %}

  {% assign name_of_handles = name_of_handles | append: "-mossp" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Print" %}

  {% assign name_of_handles = name_of_handles | append: "-bamboop" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Elegant Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-elegantb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Black Storm" %}

  {% assign name_of_handles = name_of_handles | append: "-bblackstr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Mustard Olive" %}

  {% assign name_of_handles = name_of_handles | append: "-mustardo" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Denim Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-ddenimb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Salsa Red" %}

  {% assign name_of_handles = name_of_handles | append: "-salsar" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-bamboom" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Classic Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-classicm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Coktail Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-coktailm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Winter Floral Print" %}

  {% assign name_of_handles = name_of_handles | append: "-floralpr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Silvery" %}

  {% assign name_of_handles = name_of_handles | append: "-slvr" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Copper" %}

  {% assign name_of_handles = name_of_handles | append: "-copper" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Comet Beige" %}

  {% assign name_of_handles = name_of_handles | append: "-cometb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Lava Red" %}

  {% assign name_of_handles = name_of_handles | append: "-lavar" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Malachite Green" %}

  {% assign name_of_handles = name_of_handles | append: "-malachiteg" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Neptune Blue" %}

  {% assign name_of_handles = name_of_handles | append: "-neptuneb" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Saffron" %}

  {% assign name_of_handles = name_of_handles | append: "-saffron" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Sienna" %}

  {% assign name_of_handles = name_of_handles | append: "-sienna" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Aubergina Print" %}

  {% assign name_of_handles = name_of_handles | append: "-auberginap" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Essence Birch" %}

  {% assign name_of_handles = name_of_handles | append: "-ebirch" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Essentials Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-essmix" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Toscan Sunset Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-toscansun" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix" %}

  {% assign name_of_handles = name_of_handles | append: "-cosmicm" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Urban Jungle" %}

  {% assign name_of_handles = name_of_handles | append: "-urbanj" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Smokey Mauve" %}

  {% assign name_of_handles = name_of_handles | append: "-smokeym" | append: "|" %}
 {% endif %}

{% if product.tags contains "2.Color_Biking Red" %}

  {% assign name_of_handles = name_of_handles | append: "-bikingr" | append: "|" %}
 {% endif %}
{% assign name_of_handles = name_of_handles | split: "" | reverse | join: "" | remove_first: "|" | split: "" | reverse | join: "" %}
{% assign n_handles = name_of_handles | split: "|" %}
{% assign p_handle = product.handle | remove:"-grey" | remove:"-black" | remove:"-apricot-brandy-off" | remove:"-astro-print"  | remove:"-beige" | remove:"-blue" | remove:"-blogica" | remove:"-b-ripple-print" | remove:"-brown" | remove:"-camop" | remove:"-citadel" | remove:"-corsair" | remove:"-cubep" | remove:"-dolphin" | remove:"-ermine-off" | remove:"-graphic-attack" | remove:"-green" | remove:"-malibu" | remove:"-ocean-print" | remove:"-olive" | remove:"-orange" | remove:"-pink" | remove:"-purple" | remove:"-p-logica" | remove:"-red" | remove:"-rhubarb-off" | remove:"-rose-ripple-print" | remove:"-silver" | remove:"-stormy-sea" | remove:"-turquoise" | remove:"-wine" | remove:"-yellow" | remove:"-woven-print" | remove:"-grape" | remove:"-khaki" | remove:"-spec-b" | remove:"-zinc" | remove:"-baked-apple"  | remove:"-sapphire"  | remove:"-sepia" | remove:"-dressb" | remove:"-magnet" | remove:"-charcoal" | remove:"-falcon" | remove:"-parisian-night"  | remove:"-tango" | remove:"-denim" | remove:"-phantom" | remove:"-chili-pepper" | remove:"-tornado" | remove:"-passion" | remove:"-bred" | remove:"-sred" | remove:"-rsilver" | remove:"-golive" | remove:"-rooibos" | remove:"-nautical" | remove:"-anthracite" | remove:"-eolive" | remove:"-chinois" | remove:"-almond" | remove:"-mauvewood" | remove:"-sunset" | remove:"-castle" | remove:"-lavander" | remove:"-bird" | remove:"-pavement" | remove:"-pomegranate" | remove:"-jungle" | remove:"-curry" | remove:"-tomato" | remove:"-titanium" | remove:"-dbwoven" | remove:"-asphalt" | remove:"-emberglow" | remove:"-navy" | remove:"-legion" | remove:"-lgrey" | remove:"-dgrey"  | remove:"-baroquer"  | remove:"-brightn"  | remove:"-timberwb"  | remove:"-oasisp"  | remove:"-anemone"  | remove:"-garnetr"  | remove:"-capers"  | remove:"-brittaneyb"  | remove:"-aquap"  | remove:"-lizard"  | remove:"-sburn"  | remove:"-bmirage"   | remove:"-dblue"   | remove:"-mred"   | remove:"-diron"   | remove:"-bkhaki"   | remove:"-rcamel" | remove:"-beetr"   | remove:"-bopal"   | remove:"-volcanicg"   | remove:"-blush"   | remove:"-marmalade" | remove:"-dchampagne"  | remove:"-grey" | remove:"-black" | remove:"-apricot-brandy-off" | remove:"-astro-print"  | remove:"-beige" | remove:"-blue" | remove:"-blogica" | remove:"-b-ripple-print" | remove:"-brown" | remove:"-camop" | remove:"-citadel" | remove:"-corsair" | remove:"-cubep" | remove:"-dolphin" | remove:"-ermine-off" | remove:"-graphic-attack" | remove:"-green" | remove:"-malibu" | remove:"-ocean-print" | remove:"-olive" | remove:"-orange" | remove:"-pink" | remove:"-purple" | remove:"-p-logica" | remove:"-red" | remove:"-rhubarb-off" | remove:"-rose-ripple-print" | remove:"-silver" | remove:"-stormy-sea" | remove:"-turquoise" | remove:"-wine" | remove:"-yellow" | remove:"-woven-print" | remove:"-grape" | remove:"-khaki" | remove:"-spec-b" | remove:"-zinc" | remove:"-baked-apple"  | remove:"-sapphire"  | remove:"-sepia" | remove:"-dressb" | remove:"-magnet" | remove:"-charcoal" | remove:"-falcon" | remove:"-parisian-night"  | remove:"-tango" | remove:"-denim" | remove:"-phantom" | remove:"-chili-pepper" | remove:"-tornado" | remove:"-passion" | remove:"-bred" | remove:"-sred" | remove:"-rsilver" | remove:"-golive" | remove:"-rooibos" | remove:"-nautical" | remove:"-anthracite" | remove:"-eolive" | remove:"-chinois" | remove:"-almond" | remove:"-mauvewood" | remove:"-sunset" | remove:"-castle" | remove:"-lavander" | remove:"-bird" | remove:"-pavement" | remove:"-pomegranate" | remove:"-jungle" | remove:"-curry" | remove:"-tomato" | remove:"-titanium" | remove:"-dbwoven" | remove:"-asphalt" | remove:"-emberglow" | remove:"-navy" | remove:"-legion" | remove:"-lgrey" | remove:"-dgrey"  | remove:"-baroquer"  | remove:"-brightn"  | remove:"-timberwb"  | remove:"-oasisp"  | remove:"-anemone"  | remove:"-garnetr"  | remove:"-capers"  | remove:"-brittaneyb"  | remove:"-aquap"  | remove:"-lizard"  | remove:"-sburn"  | remove:"-bmirage"   | remove:"-dblue"   | remove:"-mred"   | remove:"-diron"   | remove:"-bkhaki"   | remove:"-rcamel" | remove:"-beetr"   | remove:"-bopal"   | remove:"-volcanicg"   | remove:"-blush"   | remove:"-dchampagne" | remove:"-grape" | remove:"-khaki" | remove:"-marmalade" | remove:"-spec-b" | remove:"-urbanc" | remove:"-moodi" | remove:"-rustp" | remove:"-mbrown" | remove:"-flintb" | remove:"-bronze" | remove:"-activeb" | remove:"-tartan" | remove:"-gradient" | remove:"-silver" | remove:"-egreen" | remove:"-ggrey" | remove:"-hblue" | remove:"-cbprint" | remove:"-sailorp" | remove:"-activeg" | remove:"-rosewood" | remove:"-mlavender"  | remove:"-vineyard" | remove:"-onight" | remove:"-wcraftprint" | remove:"-aebony" | remove:"-fig" | remove:"-tandoorir"  | remove:"-igate" | remove:"-stylishg" | remove:"-cabernet" | remove:"-ppink" | remove:"-scarabg" | remove:"-marsr" | remove:"-lunarr" | remove:"-spicedc" | remove:"-cashmb" | remove:"-lindene" | remove:"-mossp" | remove:"-bamboop" | remove:"-elegantb" | remove:"-bblackstr" | remove:"-mustardo" | remove:"-ddenimb" | remove:"-salsar" | remove:"-bamboom" | remove:"-classicm" | remove:"-coktailm"| remove:"-floralpr" | remove:"-slvr"| remove:"-copper" | remove:"-cometb"| remove:"-lavar" | remove:"-malachiteg"| remove:"-neptuneb" | remove:"-saffron"| remove:"-sienna" | remove:"-auberginap"| remove:"-ebirch" | remove:"-essmix"| remove:"-toscansun" | remove:"-cosmicm"| remove:"-urbanj" | remove:"-smokeym"| remove:"-bikingr" %}
{% assign no_of_rev = 0 %}
{% assign avg_rev = 0.0 %}
<script>
  {% for hand in n_handles %}
    {% assign full_name = p_handle | append: hand %}  
    {% if all_products[full_name].metafields.loox.num_reviews %}
      {% assign no_of_rev = no_of_rev | plus: all_products[full_name].metafields.loox.num_reviews %}
      {% if avg_rev != 0 %}
          {% assign avg_rev = avg_rev | plus: all_products[full_name].metafields.loox.avg_rating | divided_by: 2.0 %}
      {% else %}
          {% assign avg_rev = all_products[full_name].metafields.loox.avg_rating %}
      {% endif %}
    {% endif %}
  {% endfor %}
  console.log("{{no_of_rev}}");
  console.log("{{avg_rev}}");
</script>
