{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-product-features.css' | asset_url | stylesheet_tag }}

<div class="img-text-wrapper product-features-wrapper rel">
  <div class="img-text container flex-box">
    <div class="img-text-text">
      <h2 class="img-text-text-heading">
        features
      </h2>
      <div class="img-text-text-content">
        {% assign points = product.metafields.my_fields.features_line | split: "," %}
        {% for point in points %}
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">{{ point }}</span>
        </div>
        {% endfor %}
      </div>
    </div>  
    <div class="img-text-img rel">
      
      <span class="next-btn-text">
        NEXT
      </span>   
      <div class="feature-imgs">
        {% for point in points %}
      	<img src="{{ 'img.png' | asset_img_url: '620x' }}">
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>



{% schema %}
 {
   "name":"Hedgren Product Features",
   "settings":[
      
   ],
   "presets":[
      {
         "name":"Hedgren Product Features"
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
