{{ 'hedgren-instagram.css' | asset_url | stylesheet_tag }}

<div class="hedgren-instagram-wrapper">
  <div class="container">
    <h2 class="headgren-insta-heading">{{ section.settings.heading }}</h2>
    <div class="insta-images flex-box">
    	{% for block in section.blocks %}
      		{% if block.type == 'imgs' %}
      <a class="insta-img{% if forloop.index > 6 %} no-t-m{% endif %}" href="{{ block.settings.link }}" target="_blank"><img src="{{ block.settings.img | img_url: '360x' }}"></a>
      		{% endif %}
      	{% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Instagram",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"type": "imgs",
			"name": "Instagram Image",
			"settings": [
				{
                    "id": "img",
                    "type": "image_picker",
                    "label": "Select Image"
                },
				{
					"id": "link",
					"type": "url",
					"label": "Image Link"
				}
			]
		}
	],
	"presets":[
      {
         "name":"Hedgren Instagram"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}