.hero-products-wrapper.hedgren-collection-products-wrapper{
  background-color: #000000;
  padding: 0 0 140px;
}
.hedgren-collection-hero .discover-coll-heading {
  margin-top: 80px;
}
.hedgren-collection-hero .discover-coll-main-heading, .hedgren-collection-hero .side-title {
  color: #fff;
}
.hedgren-collection-hero .discover-coll-main-heading {
  font-size: 80px;
  font-family: 'Hedgren-Shift';
  line-height: 71px;
  width: 100%;
}
.hedgren-collection-hero .discover-coll-sub-heading {
  color: #DEDEDE
}
.hedgren-collection-hero {
    position: relative;
}
.hedgren-collection-hero::before {
  content: "";
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4542191876750701) 35%, rgba(0,0,0,0) 100%);
  position: absolute;
  width: 100%;
  height: 40vh;
}
.hero-productsx {
  margin: 0 -13.3px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.hero-productsx .hero-product {
  margin: 0 13.3px;
  width: calc(33.333% - 26.6px);
  margin-bottom: 29px;
}
.hero-productsx .hero-product img {
  display: block;
}
@media (max-width: 992px) {
  .hedgren-collection-hero .discover-coll-main-heading {
    font-size: 36px;
    font-family: Hedgren-Shift;
    line-height: 40px;
  }
}