.hedgren-collection-features-wrapper{
  margin-bottom: 140px;
}

.hedgren-collection-features-wrapper.dark-bg{
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 111px;
}

.hedgren-collection-features-heading {
  text-align: center;
}

.features-filter-wrap {
  align-items: center;
  margin-bottom: 76px;
}

.filter {
  margin-right: 24px;
  cursor: pointer;
}

.filter-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.selected .filter-img{
  border: 2px solid #ffffff;
}

.filter-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.filter-name {
  color: #DCBD6F;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  visibility: hidden;
}

.selected .filter-name{
  visibility: visible;
}

.feature-subtitle {
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 18px;
  color: #7A7A7A;
  letter-spacing: 2.21px;
  margin-left: 16px;
  text-transform: uppercase;
}

.collection-features {
  flex-wrap: wrap;
}

.feature-card {
  width: 32%;
  margin-bottom: 29px;
}

.feature-card.selected {
  background-color: #ffffff;
  color: #000000;
}

.feature-img {
  height: 172px;
  margin-bottom: 19px;
}

.feature-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hedgren-collection-features-wrapper .feature-title {
  font-size: 36px;
  line-height: 35px;
  letter-spacing: 0.11px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 0;
}

.feature-text {
  font-size: 13px;
  line-height: 18px;
}

.selected .feature-txt-wrap{
  padding: 19px 32px 38px;
}

@media(min-width: 993px) {
  .collection-features {
    margin: 0 -13.3px;
  }
  .feature-card {
    margin: 0 13.3px;
    width: calc(33.333% - 26.6px);
    margin-bottom: 29px;
  }
}

@media(max-width: 992px){
  .feature-card {
    width: 48%;
  }

  .hedgren-collection-features-heading {
    margin-bottom: 33px;
  }

  .feature-subtitle.no-d {
    margin-bottom: 8px;
    margin-left: 0;
  }

  .filter {
    margin-right: 10px;
  }

  .features-filter-wrap {
    margin-bottom: 37px;
  }

  .hedgren-collection-features-wrapper .feature-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .feature-img {
    margin-bottom: 8px;
  }

  .selected .feature-txt-wrap {
    padding: 0 8px 8px;
  }

  .hedgren-collection-features-wrapper.dark-bg {
    padding-bottom: 106px;
  }

  .hedgren-collection-features-wrapper {
    margin-bottom: 92px;
  }
}