.contact-form-wrap{
	background-color: #DEDEDE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 71px;
  padding-bottom: 40px;
  margin-bottom: 160px;
}

.contact-form-wr{
	width: 48%;
}

.contact-input input{
	padding: 12px 16px;
  border: none;
    font-family: var(--font-body-family);
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}

.contact-input textarea{
	width: 100%;
    border: none;
    padding: 12px 16px;
    font-family: var(--font-body-family);
    resize: none;
    margin-bottom: 10px;
}

::placeholder {
  color: #7A7A7A;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #7A7A7A;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #7A7A7A;
}

.contact-form-wrap .btn{
	width: 100%;
  color: #ffffff;
  background-color: #000000;
  transition: .4s ease;
}

.contact-form-wrap .btn:hover{
	background-color: #7A7A7A;
}

@media(max-width: 992px){
  .hedgren-contact-wrapper .img-text{
  	flex-direction: column;
    margin-top: 40px;
  }
  
  .hedgren-contact-wrapper .img-text-text-heading{
  	position: relative;
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  .hedgren-contact-wrapper .img-text-text{
  	margin-bottom: 10px
  }
  
  .contact-form-wrap {
    padding-top: 40px;
    margin-bottom: 80px;
}
}