.headgren-insta-heading {
    text-align: center;
}

.insta-images {
    flex-wrap: wrap;
  justify-content: space-between;
}

.insta-img {
    width: 32%;
    display: block;
  height: 300px;
    margin-bottom: 20px;
}

.insta-img img{
	width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hedgren-instagram-wrapper{
	margin-bottom: 120px;
}

@media(max-width: 992px){
	.insta-img {
    width: 48.5%;
    height: 43.9vw;
    margin-bottom: 10px;
    }
}