.product-wrap{
	margin-top: 40px;
}

.product-imgs{
	width: 620px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-img{
	width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.product-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
}

.load-more-images {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 20px;
}

.product-info{
	width: 300px;
}

.product-title {
    font-size: 36px;
    line-height: 35px;
    letter-spacing: 0.11px;
    margin: 0;
    margin-bottom: 8px;
}

.product-price {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 8px;
}

.product-rating{
	margin-bottom: 16px;
}

.no-of-ratings {
    font-size: 13px;
    line-height: 18px;
}

.color-variant-wrap {
    margin-bottom: 24px;
}

.variant-title {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    margin-bottom: 8px;
}

.variant-color{
	width: 22px;
  height: 22px;
  display: block;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.hedgren-color-active {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 4px #00000026;
}
.hedgren-color-inactive {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}


.variant-color.selected {
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 4px #00000026;
}

.grey-color{
	background-color: #59555A;
}

.yellow-color{
	background-color: #ECCA78;
}

.blue-color{
	background-color: #758298;
}

.red-color{
	background-color: #B64846;
}

.add-to-cart {
    padding: 15px 53px;
    border: 2px solid;
    border-radius: 23px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 2.21px;
    width: moz-fit-content;
    width: fit-content;
    cursor: pointer;
    transition: .4s ease;
  margin-bottom: 24px;
}

.add-to-cart svg{
	width: 10px;
  height: 10px;
}

.add-to-cart:hover{
	color: #ffffff;
  background-color: #000000;
}

.add-to-cart:hover svg path{
	fill: #ffffff;
  stroke: #ffffff;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.product-usp-title {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    padding-top: 8px;
  align-items: center;
}

.active.product-usp-title{
	margin-bottom: 8px;
}

.down-chev{
	transition: .4s ease;
}

.active .down-chev {
    transform: rotate(180deg);
}

.product-usp-content{
	font-size: 13px;
  line-height: 18px;
}

.usp-feature.flex-box {
    align-items: center;
    margin-bottom: 8px;
  cursor: pointer;
}

.feature-circle {
    border: 1px solid #707070;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.selected .feature-circle{
	background-color: #7A7A7A;
}

.product-usp-features {
    flex-wrap: wrap;
}

.feature-title{
	color: #7A7A7A;
  padding-left: 6px;
}

.selected .feature-title{
	color: #000000;
}

.product-ups-wrap {
    padding-bottom: 8px;
    border-bottom: 2px solid;
}

.product-usps {
    border-top: 2px solid;
}

.product-desc {
    font-size: 13px;
    line-height: 18px;
}

.feature-text {
    margin-top: 8px;
}

.product-wrap{
	margin-bottom: 148px;
}
.product-usp-title p {
  margin: 0;
}
.product-usp-title p strong {
  font-weight: 400;
}
@media(max-width: 992px){
	.product-info-imgs {
    flex-direction: column;
}
  
  .product-img-mob img{
  	width: 100%;
    object-fit: cover;
  }
  
  .product-info {
    width: 100%;
}
}