.faq-type-link {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 16px 24px;
    display: block;
  border: 1px solid;
}

.types-of-faq{
	display: flex;
  justify-content: space-between;
  width: 711px;
  position: absolute;
    bottom: -110px;
    left: 138.5px;
}

.hedgren-faq-page-heading-wrapper{
	margin-bottom: 104px;
}

@media(max-width: 992px){
	.faq-filter-title-chev {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .down-chev {
    margin-bottom: 4px;
}
  
  .faq-filter-title-wrap {
    background-color: #DEDEDE;
    padding: 20px 0;
    margin-top: -40px;
}
  
  .faq-filter-type a{
  	font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
  
  .faq-filter-type-wrap {
    border-bottom: 1px solid;
}
  
  .faq-filter-type-wrap:first-child{
  	border-top: 1px solid;
  }
  
  .types-of-faq-mob{
  	margin-bottom: 40px;
  }
}