.about-values-wrapper.dark-bg {
  background-color: #000000;
  color: #ffffff;
}

.about-values {
    justify-content: space-between;
}

.about-values-wrapper.dark-bg .arrows svg {
  fill: #fff;
}

.arrows{
	position: absolute;
  top: -72px;
}

.text-one .arrows{
	transform: rotate(180deg);
  left: -20px;
}

.text-two .arrows{
	right: -20px;
}

.about-values-heading {
    margin-bottom: 25px;
}

.about-values-text-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 6px;
    color: #8A8A8A;
  	position: absolute;
}

.text-one {
    margin-top: 145px;
  padding-bottom: 120px;
}

.text-two .about-values-text-text{
	left: -60px;
  text-align: right;
}

.text-one .about-values-text-text{
	right: -60px;
}

@media(max-width: 992px){
	.about-values {
    flex-direction: column-reverse;
}
  
  .about-values-text .arrows{
  	width: 80px;
    height: 107px;
  }
  
  .about-values-text .arrows svg{
  	width: 100%;
    height: 100%;
  }
  
  .arrows {
    top: -36px;
}
  
  .text-two .arrows {
    right: -10px;
}
  
  .text-one .arrows {
    left: -10px;
}
  
  .about-values-heading {
    margin-bottom: 11px;
    text-align: right;
    margin-right: 20px;
}
  
  .about-values-heading.heading-one {
    text-align: left;
    margin-left: 20px;
}
  
  .about-values-text-text {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 3.9px;
    color: #fff;
}
  
  .text-two .about-values-text-text {
    left: unset;
    right: 60px;
}
}