.key-point-text {
    letter-spacing: 2.21px;
    margin-bottom: 12px;
    margin-left: 8px;
}

.product-features-wrapper .image-overlay{
	z-index: 5;
  bottom: 15px;
  cursor: pointer;
}

.product-features-wrapper{
	margin-bottom: 168px;
}

.next-btn-text {
    position: absolute;
    z-index: 2;
    bottom: 105px;
    left: 20px;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    letter-spacing: 2.21px;
  pointer-events: none;
}

@media(max-width: 992px){
	.product-features-wrapper {
    margin-bottom: 92px;
}
  
  .next-btn-text {
    bottom: 130px;
    left: unset;
    right: 31px;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 1.02px;
}
}