.hero-products-wrapper.similar-products-wrapper {
    background-color: #DEDEDE;
  margin-bottom: 140px;
  padding-top: 140px;
}

.similar-prods-heading {
    text-align: center;
    margin-bottom: 16px;
}

.similar-prods-subheading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 6px;
    color: #8A8A8A;
    text-align: center;
    margin-bottom: 40px;
}

.similar-products-wrapper .hero-product {
    width: 300px;
}

.similar-products-wrapper .hero-product-images-block img{
	display: block;
}

.similar-products {
    margin-bottom: 72px;
}

.similar-products-wrapper .similar-prods-btn{
	background-color: #000;
  color: #fff;
  transition: .4s ease;
}

.similar-products-wrapper .similar-prods-btn:hover{
	background-color: #7A7A7A;
}

@media(max-width: 992px){
  .txt-right{
  	text-align: right;
  }
  
  .similar-prods-subheading {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    margin-bottom: 24px;
}
  
  .similar-prods-heading {
    margin-bottom: 8px;
}
  
  .hero-products-wrapper.similar-products-wrapper{
  	padding: 80px 0;
  }
}