.headgren-colorful-cards-wrapper{
	margin-top: 160px;
}

.colorful-cards-headings {
    text-align: center;
  margin-bottom: 40px;
}

.colorful-cards-heading {
    margin-bottom: 16px;
}

.colorful-cards-subheading {
    width: 620px;
    margin: 0 auto;
}

.colorful-cards{
	flex-wrap: wrap;
}

.colorful-card{
	height: 300px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.colorful-card.regular{
	width: 32%;
}

.colorful-card.big{
	width: 100%;
}

.blue-bg{
	background-color: #407999;
  color: #ffffff;
}

.green-bg{
	background-color: #375D54;
  color: #ffffff;
}
.red-bg{
	background-color: #D3142B;
  color: #ffffff;
}
.grey-bg{
	background-color: #DEDEDE;
  color: #000000;
}

.card-headings-wrap{
	display: flex;
}

.card-headings-wrap.sub-up {
    flex-direction: column;
}

.card-headings-wrap.sub-down {
    flex-direction: column-reverse;
}

.card-svg{
	margin-bottom: 18px;
}

.card-svg svg{
	width: 40px;
  width: 40px;
}

.card-sub-heading {
    font-size: 18px;
    line-height: 29px;
}

.card-heading {
    font-size: 36px;
    line-height: 35px;
    letter-spacing: 6.12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-extra-txt {
    font-size: 13px;
    line-height: 18px;
}

@media(max-width: 992px){
	.colorful-cards-subheading {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    width: unset;
}
  
  .colorful-cards-headings {
    margin-bottom: 32px;
}
  
  .colorful-card.regular {
    width: 48%;
    height: unset;
}
  
  .colorful-card.regular:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
}