.filter-sort-products {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.filters{
	font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.21px;
  display: flex;
  padding-bottom: 16px;
  align-items: center;
  cursor: pointer;
}

.filters .down-chev{
	margin-left: 16px;
}

.color-options {
    display: flex;
    justify-content: space-between;
  padding: 14px 0;
  border-bottom: 2px solid;
    z-index: 1;
    position: relative;
}

.color-wrap {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    color: #7A7A7A;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.all-products .hero-product {
    width: 299px;
    margin: 0 10px 40px;
}

.all-products .variants{
	display: flex;
  align-items: end;
    font-size: 10px;
    line-height: 13px;
    text-decoration: underline;
  margin-bottom: 16px;
}

.more-colors {
    cursor: pointer;
}

.prod-tag {
    background-color: #000000;
    color: #ffffff;
    padding: 6px 14px;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 1px;
    width: moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 16px;
    left: 0;
  text-transform: uppercase;
}

.filters-dropdown {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    padding: 24px 0;
    border-bottom: 2px solid;
  border-top: 2px solid;
  z-index: 0;
  transition: .4s ease;
  max-height: 0;
    overflow: hidden;
    opacity: 0;
  
}

.filter-type-title {
    letter-spacing: 2.21px;
    margin-bottom: 12px;
}

.filter-wrap {
    margin-bottom: 12px;
  display: flex;
    align-items: center;
  cursor: pointer;
  width: fit-content;
    width: moz-fit-content;
}



.filter-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid;
    margin-right: 8px;
}

.filter-type-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
}

.filter-dropdown-left, .filter-dropdown-right {
    width: 50%;
}

.filter-dropdown-right {
    display: flex;
    justify-content: space-between;
}

.filter-type {
    margin-bottom: 12px;
}

.filters-dropdown-wrap{
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apply-filters-btn {
    padding: 15px 64px;
    width: fit-content;
    width: moz-fit-content;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 2.21px;
    border-radius: 23px;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    transition: .4s ease;
}

.apply-filters-btn:hover{
	background-color: #DEDEDE;
  color: #000;
}

.filters.filters-filter:hover .filters-dropdown{
	opacity: 1;
  	max-height: 2000vh;
    visibility: visible;
    height: auto;
    display: block;
  z-index: 2;
}

.sort-wrap {
    padding: 18px 34px 6px 18px;
    border: 2px solid;
    position: absolute;
    background-color: #fff;
    top: 50px;
    right: 0;
    z-index: 1;
  max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.filters.sort-title-wrap:hover .sort-wrap{
	opacity: 1;
  	max-height: 2000vh;
    visibility: visible;
    height: auto;
    display: block;
  z-index: 2;
}

.sort {
    margin-bottom: 12px;
  cursor: pointer;
}

.applied-filters-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid;
}

.all-filters-sorts-wrap {
    margin-bottom: 40px;
}

.close-icon {
    width: 10px;
    height: 10px;
    margin-left: 6px;
    margin-bottom: 8px;
}

.close-icon svg{
	width: 10px;
  height: 10px;
}

.clear-filters {
    cursor: pointer;
    display: flex;
    align-items: center;
  font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
}

.applied-filters {
    display: flex;
    flex-wrap: wrap;
}

.applied-filter {
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    margin-right: 16px;
}

@media(max-width: 992px){
	.all-products {
    margin: 0 -1%;
    margin-top: 40px;
}
  
  .all-products .hero-product {
    width: 48%;
    margin: 0 1% 40px;
}
  
  .all-products .hero-product-text-block {
    padding: 8px 0 0 0;
}
  
  .filter-sort-products {
    border: none;
    margin: 0 -20px;
    padding: 24px 20px 8px;
    background-color: #DEDEDE;
}
  
  .accordion {
  cursor: pointer;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  
  .filters-dropdown-wrap {
    flex-direction: column;
}
  
  .filter-type-filters {
    display: block;
    padding: 0 20px;
}
  
  .filter-wrap {
    width: 100%;
}
  
  .filter-type {
    margin-bottom: 12px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    padding-top: 12px;
}
  
  .filters-dropdown {
    left: 0;
    padding-top: 12px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    top: 66px;
}
  
  .filter-type-title {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
  
  .apply-clear-filters-wrap {
    background-color: #DEDEDE;
    margin-top: 15vh;
    border-top: 1px solid;
}
  
  .apply-clear-filters {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    padding: 20px 0 30px;
}
  
  .apply-filters-btn {
    margin: 0;
}
  
  .color-options {
    flex-wrap: wrap;
    padding: 0 20px;
    border-bottom: none;
    margin-bottom: 0;
}
  
  .color-wrap {
    width: 24%;
    margin-bottom: 10px;
}
  
  .sort-wrap{
  	top: 66px;
  }
  
  .applied-filters-wrap{
  	border-bottom: none;
  }
}