.drawer-cart {
    display: block;
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    max-width: 456px;
    background-color: #ffffff;
    top: 0;
    right: -456px;
    padding: 0;
    transition: .4s ease;
}

.drawer-cart.drawn {
    right: 0;
  box-shadow: -10px 0px 30px #00000026;
}

.drawer-cart-header{
	padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.close-cart {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.cart-headign {
    font-size: 40px;
    letter-spacing: -1.92px;
    margin-bottom: 0;
    margin-left: 116px;
}

.cart-body {
    max-width: none;
    display: block;
    margin: 0 auto;
    padding: 0 40px;
    height: calc(100vh - 487px);
    overflow-y: scroll;
}

.cart-product-wrapper{
	display: flex;
}

.cart-product-image, .upsell-product-image{
	margin-right: 16px;
  width: 80px;
    height: 80px;
}

.cart-product-image img, .upsell-product-image img{
	width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-product-info {
    flex-direction: column;
    display: flex;
}

.cart-product-infos {
    display: flex;
  width: 100%;
}

.cart-product-qty-del {
    display: flex;
    flex-direction: column;
  align-items: flex-end;
}

.product-name {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
}

.product-price {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
}

.product-compare-price {
    color: #7A7A7A;
    text-decoration: line-through;
}

.product-selling-price {
    font-weight: 600;
    margin-left: 4px;
}

.product-color {
    font-size: 13px;
    line-height: 18px;
}

.cart-product-qty{
	display: flex;
}

.qty-manipulation-symbol {
    background-color: #000000;
    width: 23px;
    height: 23px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.cart-qty {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 8px;
}

.delete-cart-product {
  display: flex;
    align-items: end;
    font-size: 10px;
    line-height: 13px;
    color: #7A7A7A;
    cursor: pointer;
    text-align: right;
}

.delete-text {
    text-decoration: underline;
    margin-right: 8px;
}

.delete-icon {
    height: 14px;
}

.cart-product-wrapper {
    margin-bottom: 25px;
}

.drawer-cart-upsell {
    background-color: #DEDEDE;
    padding: 16px 40px;
}

.upsell-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.upsell-product-wrap {
    display: flex;
}

.upsell-product-title-price {
    display: flex;
    align-items: end;
}

.upsell-compare-price{
	font-size: 10px;
}

.upsell-price{
	line-height: 29px;
  margin-left: 40px;
}

.upsell-product-desc {
    font-size: 13px;
    line-height: 18px;
}

.add-upsell-prod {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    background-color: #fff;
    width: moz-fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 23px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
  color: #D3142B;
  font-weight: 600;
}
.upsell-product-wrap .product-color, .upsell-product-wrap .upsell-product-desc {
    max-width: calc( 100% - 84px );
}
.upsell-product-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer-cart-checkout {
    padding: 24px 40px 13px;
}

.checkout-subtotal, .checkout-shipping {
    display: flex;
  align-items: center;
}

.checkout-subtotal{
	margin-bottom: 16px;
}

.checkout-shipping{
	margin-bottom: 37px;
}

.checkout-title, .shipping-title {
    font-size: 13px;
    line-height: 18px;
    color: #7A7A7A;
}

.subtotal {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
}

.shipping-price {
    font-size: 13px;
    line-height: 18px;
}

.checkout-btn {
    display: flex;
    padding: 15px 0;
    width: 100%;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.21px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 23px;
    transition: .4s ease;
  margin-bottom: 8px;
}

.checkout-btn:hover{
	background-color: #7A7A7A;
}

.cont-shopping {
    font-size: 10px;
    line-height: 13px;
    color: #7A7A7A;
    text-decoration: underline;
    width: moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}