/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: calc( 33% - 24px);

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
/*     outline: none;
    width: 48px;
    height: 48px;
    background-color: #000;
    border-radius: 50px; */
    padding: 0;
  background-color: transparent;
}
.black-box .slick-prev,
.black-box .slick-next {
  border: 2px solid #fff;
}
.black-box .slick-prev:hover,
.black-box .slick-next:hover {  
  background-color: #fff;
}
/* .slick-prev:hover,
.slick-next:hover
{
    color: #000;
    outline: none;
    background: #698995;  
} */
.slick-prev:hover:before,
.slick-next:hover:before
{
    opacity: 1;
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/Arrow_1.svg?v=2493003068323352544) !important;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: 0;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
    line-height: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  padding-left: 3px;
}

.slick-prev
{
  left: -20px;  
  -webkit-transform: rotateY(180deg) translate(0, -50%);
  -ms-transform: rotateY(180deg) translate(0, -50%);
  transform: rotateY(180deg) translate(0, -50%);
}
[dir='rtl'] .slick-prev
{
    right: -20px;
    left: auto;
}
.slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/Arrow_1.svg?v=2493003068323352544);
}
[dir='rtl'] .slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/Arrow_1.svg?v=2493003068323352544);
}

.slick-next
{
    right: -20px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -20px;
}
@media(max-width: 1550px){
	.slick-prev
{
  left: 20px;
}
  .slick-next{
  	right: 20px;
  }
}
.slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/Arrow_1.svg?v=2493003068323352544);
}
[dir='rtl'] .slick-next:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/Arrow_1.svg?v=2493003068323352544);
  -webkit-transform: rotateY(180deg) translate(0, -50%);
  -ms-transform: rotateY(180deg) translate(0, -50%);
  transform: rotateY(180deg) translate(0, -50%);
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -15px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
  height: 2px;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
  border-radius: 50%;
    margin: 0 4px;
    padding: 0;

    cursor: pointer;
  
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 12px;
    height: 12px;
  border-radius: 50%;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 12px;

    position: absolute;
    top: 0;
    left: 0;

    width: 12px;
    height: 12px;

    content: '';
    text-align: center;

    opacity: .25;
    color: #fff;
  border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #fff;  
  transition: all .4s ease;
}

.featured-collections .slick-dots li button:before, .testimonials .slick-dots li button:before{
	color: #000;
  background-color: #000;
}
.black-box .slick-dots li button:before {
    background-color: #fff; 
}
.instagram-btns .slick-dots li, .instagram-btns .slick-dots li button, .instagram-btns .slick-dots li button:before {
  width: 50px;
}
.carousel-btns .slick-dots li, .carousel-btns .slick-dots li button, .carousel-btns .slick-dots li button:before {
  width: 33.3333px;
}
.instagram-btns-xs .slick-dots li, .instagram-btns-xs .slick-dots li button, .instagram-btns-xs .slick-dots li button:before {
  width: 15px;
}
.carousel-btns-xs .slick-dots li, .carousel-btns-xs .slick-dots li button, .carousel-btns-xs .slick-dots li button:before {
  width: 6.818182px;
}
.supplies-btns-xs .slick-dots li, .supplies-btns-xs .slick-dots li button, .supplies-btns-xs .slick-dots li button:before {
  width: 33.3333px;
}
.slick-dots li.slick-active
{
  width: 12px !important;
}
.slick-dots li.slick-active button
{
  width: 12px !important;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  color: white;
  width: 12px !important;
}

.ac-right .slick-next{
	right: 50px;
    top: -30px;
}

.ac-right .slick-prev{
	top: -30px;
    left: unset;
    right: 80px;
}



@media (max-width: 560px) {
  .slick-dots li.slick-active
  {
    width: 12px !important;
  }
  .slick-dots li.slick-active button
  {
    width: 12px !important;
  }
  .slick-dots li.slick-active button:before
  {
    opacity: .25;
    color: white;
    width: 12px !important;
  }	
}

.feature-imgs .slick-dots{
	bottom: 16px;
}

.feature-imgs .slick-dots li.slick-active button:before{
	background-color: #D3142B; 
}

.feature-imgs .slick-dots li button:before{
	background-color: #DEDEDE;
  opacity: 1;
}

@media (max-width: 992px){
  .hero-products .slick-next{
  	top: 672px;
    right: 60px;
  }
  
  .hero-products .slick-prev{
  	top: 672px;
    left: 60px;
  }
  
  .slick-next:before, .slick-prev:before {
    content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/arrow_1_small.svg?v=17379486801420230439);
}
  
  
  .slick-prev:hover:before,
.slick-next:hover:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/arrow_1_small.svg?v=17379486801420230439) !important;
}
  
  .featured-collections .slick-next, .featured-collections .slick-prev{
  	top: 476px;
  }
  
  .featured-collections .slick-next{
  	right: 50px;
  }
  
  .featured-collections .slick-prev{
  	left: 50px;
  }
  
  
  .featured-collections .slick-next:before, .featured-collections .slick-prev:before, .testimonials .slick-next:before, .testimonials .slick-prev:before {
    content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/arrow_1_small_black.svg?v=9464086370674247738);
}
  
  
  .featured-collections .slick-prev:hover:before,
.featured-collections .slick-next:hover:before, .testimonials .slick-next:before, .testimonials .slick-prev:before
{
  content: url(//cdn.shopify.com/s/files/1/1882/4247/t/22/assets/arrow_1_small_black.svg?v=9464086370674247738) !important;
}
  
  .testimonials .slick-next, .testimonials .slick-prev{
  	top: 465px;
  }
  
  .hedgren-collection-products-wrapper .hero-products .slick-next, .hedgren-collection-products-wrapper .hero-products .slick-prev{
  	top: 758px;
  }
  
  
}